#loadingman{


  width: 100%;
  height:100%;
  background-color: white;
  position: fixed;
  z-index: 99999;
}
  
/*
.preload{

  width:100%;
  height: 100%;
  background: #333;
  position: fixed;
  top:0;
  left: 0;
  z-index: 1;


}


#loader-frame {

  width: 70px;
  height: 70px;
  margin: 350px auto;
  position: relative;
}


.loader1, .loader2 {
  position: absolute;
  border:5px solid transparent;
  border-radius: 50%;

}

.loader1 {

  width: 70px;
  height: 70px;
  border-top: 5px solid azure;
  border-bottom: 5px solid azure;
  animation: clockwisespin 2s linear 3;

}
.loader2 {

  width: 60px;
  height: 60px;
  border-top: 5px solid darkturquoise;
  border-bottom: 5px solid darkturquoise;
  top: 5px; left:5px;
  animation: anticlockwisespin 2s linear 3;

}
@keyframes clockwisespin{


  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
@keyframes anticlockwisespin{


  from {transform: rotate(0deg);}
  to {transform: rotate(-360deg);}
}
*/

.tiles {
    position: relative;
    top: 0;
    left: 0;
    width: 95%;
    height: 100%;
  }

  .tile {
    position: relative;
    float: left;
    width: 31.6666%;
    height: 100%;
    border-color: #e5e5e5;
    border-style: solid;
    border-width: 0px 1px 0px 0px;
    overflow: hidden;

  }

  .photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform .5s ease-out;
  }



.v-fs {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}
.v-fs-content {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
}
.v-fs-page {
  width: 100vw;
  height: 100vh;
  float: left;
  color: white;
  font-family: Arial;
  font-size: 28px;
  padding: 0px;
  box-sizing: border-box;
}
.page-1 {
  background-color: white;

}
.page-2 {
  background-color: white;
}
.page-3 {
  background-color: white;
}
/*.page-4 {
  background-color: #F89357;
}*/



.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 95%;
  height: 100%
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 800ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
/*  margin: 70px auto;*/
  padding: 0 0 0 10%;
  background: white;
  /*border-radius: 5px;*/
  width: 100%;
  height: 100%;
  position: relative;
  transition: all 5s ease-in-out;
/*  overflow: scroll;*/
/*  overflow-y: hidden; */
  color: black;
}

.popup h2 {
  margin-top: 0;
  color: black;
  font-family: lato, sans-serif;
}
.popup .close {
  position: fixed;
  top: 6%;
  right: 4%;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: lightgray;
}
.popup .close:hover {
  color: #aba9f4;
}
.popup .content {
  max-height: 100%;
  overflow: auto;

}
a{

color:#232323;

}
a:hover{

  color:#aba9f4;

}


.scrollfrom {
/*  display: block;*/
  font-family: lato, sans-serif;

  position: absolute;
 /* float:  center;*/
  top:13%;
  right: 5.2%;
  transition: all 200ms;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #aba9f4;

}
.scrollto {
/*  display: block;*/
  font-family: lato, sans-serif;
  transition: all 200ms;
  position: absolute;
  float: left;
  top:13%;
  left: 0;

  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #aba9f4;

}
@media screen and (max-width: 700px){

  .popup{
    width: 80%;
  }
}



.timeline {
  display: flex;
  margin: auto;
  position: relative;
  width: 300px;
  float: right;
  top: 100px;
  left: 300px;

/*  padding-right: 250px;*/
}
.timeline:before {
  background-color: #D8D8D8;
  content: '';
  height: 2px;
  position: absolute;
  top: 15px;
  width: 100%;
}

[class*='timeline-item'] {
  cursor: pointer;
  display: block;
  flex: none;
  padding: 10px 0;
  position: relative;
  width: calc(11.1111% + ((11.1111% - 11px)/8));
}
[class*='timeline-item'] .circle {
  background-color: #D8D8D8;
  border-radius: 50%;
  height: 12px;
  position: relative;
  transition: all .2s ease-in-out;
  width: 12px;
  z-index: 1;
}
[class*='timeline-item'] .circle:before {
  background: #fff;
  border-radius: 50%;
  content: '';
  height: 8px;
  left: 2px;
  opacity: 0;
  position: absolute;
  transition: all .1s ease-in-out;
  top: 2px;
  width: 8px;
}
[class*='timeline-item'].is-active .circle {
  -webkit-transform: scale(1.666);
          transform: scale(1.666);
}
[class*='timeline-item'].is-active .circle:before {
  opacity: 1;
}
[class*='timeline-item']:after {
  border-radius: 2px;
  color: #fff;
  content: attr(data-caption);
  display: inline-block;
  font-weight: 500;
/*  width: 16em;*/
  font-size: 12px;
  left: 6px;
  line-height: 1.5;
  opacity: 0;
  padding: 4px 5px;
  pointer-events: none;
  position: absolute;
 /* text-transform: uppercase;*/
  top: 42px;
  -webkit-transform: translateX(-50%) translateY(-3px) scale(0.9);
          transform: translateX(-50%) translateY(-3px) scale(0.9);
  transition: all .2s ease-in-out;
  white-space: pre;
}
[class*='timeline-item'].is-active:after {
  opacity: 1;
  -webkit-transform-origin: 50% 0;
          transform-origin: 50% 0;
  -webkit-transform: translateX(-50%) scale(1.15);
          transform: translateX(-50%) scale(1.15);
}
[class*='timeline-item'].is-active.is-hovering:after {
  opacity: 0;
}
[class*='timeline-item']:not(.is-active):hover:after {
  opacity: 1;
  -webkit-transform: translateX(-50%) scale(1);
          transform: translateX(-50%) scale(1);
}

.timeline-item-1:hover .circle,
.timeline-item-1.is-active .circle,
.timeline-item-1:after {
  background-color: #aba9f4;
  color: #FFF;
}

.timeline-item-2:hover .circle,
.timeline-item-2.is-active .circle,
.timeline-item-2:after {
  background-color: #aba9f4;
  color: #FFF;
}

.timeline-item-3:hover .circle,
.timeline-item-3.is-active .circle,
.timeline-item-3:after {
  background-color: #aba9f4;
  color: #FFF;
}

.timeline-item-4:hover .circle,
.timeline-item-4.is-active .circle,
.timeline-item-4:after {
  background-color: #aba9f4;
  color: #FFF;
}

.timeline-item-5:hover .circle,
.timeline-item-5.is-active .circle,
.timeline-item-5:after {
  background-color: #aba9f4;
  color: #FFF;
}

.timeline-item-6:hover .circle,
.timeline-item-6.is-active .circle,
.timeline-item-6:after {
  background-color: #aba9f4;
  color: #FFF;
}

.timeline-item-7:hover .circle,
.timeline-item-7.is-active .circle,
.timeline-item-7:after {
  background-color: #aba9f4;
  color: #FFF;
}

.timeline-item-8:hover .circle,
.timeline-item-8.is-active .circle,
.timeline-item-8:after {
  background-color: #aba9f4;
  color: #FFF;
}

.timeline-item-9:hover .circle,
.timeline-item-9.is-active .circle,
.timeline-item-9:after {
  background-color: #aba9f4;
  color: #FFF;
}






.card {

  position: absolute;
  top: 48%;
  left: 25%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  height: 750px;
  border-radius: 10px;
  overflow: hidden;
}

.card .about {
  height: 150px;
  padding: 20px;
  box-sizing: border-box;
}

.card .about h3,
.card .about .lead {
 /* font-weight: 300;*/
  margin: 0;
}

/*.card .about h3 {
  font-size: 24px;
}*/

.card .about .lead {
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #777777;
}
.leadDesc{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 11px;
 
  color: #aaa;
}
.adprojectTitle{
  position: relative;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 21px;
  text-align: left;

  padding-left: 300px;
/*  padding-right: 150px;*/
}

.projectTitle{
  position: relative;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 21px;
  text-align: left;
  padding-top: 150px;
  padding-left: 300px;
/*  padding-right: 150px;*/
}
#projectUnderline{
  position: relative;

  width: 40px;
  height: 3px;
  margin-top: 30px;
  margin-left:300px;
  background-color: #000000;


/*  padding-right: 150px;*/
}


.projectOverviewTitle{
  position: relative;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  width: 700px;
  text-align: left;
  padding-top: 50px;
  padding-left: 300px;
  color: #777777;
/*  padding-right: 150px;*/
}
.projectOverview{
  position: relative;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 1.5;
  width: 700px;
  text-align: left;
  padding-top: 50px;
  padding-left: 300px;
  color: #777777;
/*  padding-right: 150px;*/
}


.prjectRow
{
    display: table;
    width: 100%;

  

}
.categ
{
    display: table-cell;
    padding-top: 50px;
    padding-left: 300px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    font-size: 11px;
    line-height: 2;
}

.categDetail{
  display: table-cell;
  position: relative;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 11px;
  line-height: 2;
  width: 500px;
  text-align: left;
  padding-left: 100px;
  color: #000000;

/*  padding-right: 150px;*/
}
.blackLine{

  width: 100%;
  height: 150px;
  border-color: #e5e5e5;
  border-style: solid;
  border-width: 0px 0px 1px 0px; 

}
.blank{

  width: 100%;
  height: 150px;
/*  border-color: #e5e5e5;
  border-style: solid;
  border-width: 0px 0px 1px 0px; */

}
.webDes{

  display: block;
    width: 56%;
    height: 500px;
    margin: 0 auto;
    border:0;
}
.uivideo{

  display: block;
    width: 56%;
    height: 450px;
    margin: 0 auto;
    border:0;
    
}
.video{

/*  display: block;*/
    width: 97%;
    height: 450px;
    margin: 0 auto;
}
.images{

  display: block;
    width: 90%;
 
    margin: 0 auto;
}
.pimages{

  display: block;
  width: 56%;
 
  margin: 0 auto;
}
.bottomimages{

  display: block;
  width: 56%;
  float: right;
  margin: 0 auto;
}
div.column {
  width: 300px;

  display: block;

   margin: 20% 34%;

}
.loadinggif{

  display: block;
  width: 10%;

 
  margin: 25% auto;
}
/* Contact Button */
.sidebar_contact_block {
color: #000000;
font-family: 'Lato', sans-serif;
font-size: 220%;
font-weight: 300;

letter-spacing: -.04em;
display: block;
padding: 1em .5em 1em .5em;
background-color: #FFF;

border-radius: 10pt;
background-position: 92% 110%;
background-size: 32%;
background-repeat: no-repeat;
-webkit-transition: background-position .25s, background-color .25s, background-size .25s;
transition: background-position .25s, background-color .25s, background-size .25s;
}

.sidebar_contact_block:hover {
background-color: #FFF;
color: gray;

background-position: 110% 30%;
background-size: 20%;
}

.sidebar_contact_block h4 {
font-family: 'Lato', sans-serif;
font-size: .4em;
letter-spacing: -.02em;
font-weight: 400;
margin-top: .2em;
margin-bottom: .4em;
}

.sidebar_contact_block h3 {
font-family: 'Lato', sans-serif;
font-size: 1.5em;
letter-spacing: -.02em;
text-transform: uppercase;
font-weight: 800;
line-height: 1em;
margin: 0 0 .2em 0;
}

.sidebar_contact_block hr {
margin: 0;
width: 40%;
border-bottom: 1px solid #ababf2;
border-top: 0;
transition: width .25s;
-webkit-transition: width .25s;
}

.sidebar_contact_block hr.short {
  width: 0;
}

.sidebar_contact_block:hover hr {
  width: 0;
}

.sidebar_contact_block:hover hr.short {
  width: 60%;
}


.smallWindow{
  position:fixed;

  height: 50px;
  width: 300px;
  color:black;
  font-size: 16px;
  font-family: 'lato' sans-serif;
  font-weight: 100;
  text-align: center;
  top:50%;
  margin-top: -25px;
  left:50%;
  margin-left: -150px;
}

@media all and (min-width: 0px) and (max-width: 1300px) {
  .ct{
    display: none;
  }

}



